name: Assign author

on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  assignAuthor:
    timeout-minutes: 30
    name: Assign author to PR
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'

    steps:
      - name: Assign author to PR
        uses: toshimaru/auto-author-assign@e1f5499be4c5328a8ccbd4cad73be7680a0de892 # v2.1.1
